body{
    background-image: url('images/fondo.gif');
    background-size: cover;
}

#barraderecha{
    font-size: 50px;
    text-align: center;
    float: right;
    padding: 50px;
}
.rainbow-text:hover{
    background: repeating-linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slide 5s linear infinite forwards;
}
@keyframes slide {
    0%{
        background-position-y: 0%;
    }
    100%{
        background-position-x: 600vw;
    }
}
h1{
    color: red;
}